@model List<Repository.ViewModels.StoreFollowerViewModel>;
<!DOCTYPE html>
<html class="no-js" lang="en">
@{
    Layout = "_Layout";
}

<head>
    <meta charset="utf-8" />
    <title>Food Haven - Manage Store Followed</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css?v=6.0" />
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/~/assets/prompt.js"></script>
    @Html.Raw(" <link href='https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons/css/all/all.css' rel='stylesheet'>")

    <link rel="stylesheet" href="~/assets/js/gridjs/theme/mermaid.min.css">
            <!-- Icons Css -->
    <link href="~/assetsAdmin/css/icons.min.css" rel="stylesheet" type="text/css" />

</head>

<body>
    @await Html.PartialAsync("_Header")

    <!--End header-->
    <main class="main pages mb-80">
        @* <div class="page-header breadcrumb-wrap">
        </div> *@
        <div class="page-content pt-50">
            <div class="container">
                 <div class="archive-header-2 text-center">
                    <h1 class="display-2 mb-50">Followed Stores</h1>
                    
                </div> 
                @* <div class="row mb-50">
                     <div class="col-12 col-lg-8 mx-auto">
                        <div class="shop-product-fillter">
                        </div>
                    </div> 
                </div> *@
                <div id="store-container" class="row vendor-grid">
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
            @await Html.PartialAsync("_StoreCardPartial", item)

                                        }
                    }
                </div>

            </div>


    </main>
    @await Html.PartialAsync("_Footer_User")
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <img src="~/assets/imgs/theme/loading.gif" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="~/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/plugins/slick.js"></script>
    <script src="~/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="~/assets/js/plugins/wow.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="~/assets/js/plugins/magnific-popup.js"></script>
    <script src="~/assets/js/plugins/select2.min.js"></script>
    <script src="~/assets/js/plugins/waypoints.js"></script>
    <script src="~/assets/js/plugins/counterup.js"></script>
    <script src="~/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="~/assets/js/plugins/images-loaded.js"></script>
    <script src="~/assets/js/plugins/isotope.js"></script>
    <script src="~/assets/js/plugins/scrollup.js"></script>
    <script src="~/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="~/assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="~/assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="~/assets/js/main.js?v=6.0"></script>
    <script src="~/assets/js/shop.js?v=6.0"></script>

 <script>
    $(document).ready(function () {
        $(document).on('click', '.unfollow-btn', function (e) {
            e.preventDefault();

            const storeId = $(this).data('store-id');
            const $button = $(this);

            // Show confirmation
            Swal.fire({
                title: 'Are you sure?',
                text: 'Do you really want to unfollow this store?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, unfollow',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Home/UnfollowStore',
                        method: 'POST',
                        data: { storeId: storeId },
                        success: function (res) {
                            if (res.success) {
                                new Notify({
                                    status: 'success',
                                    title: 'Unfollowed',
                                    text: res.message || 'You have unfollowed the store.',
                                    effect: 'fade',
                                    speed: 300,
                                    showIcon: true,
                                    autoclose: true,
                                    autotimeout: 3000,
                                    position: 'right top'
                                });

                                $button.closest('.vendor-wrap').parent().fadeOut(300, function () {
                                    $(this).remove();
                                });
                            } else {
                                new Notify({
                                    status: 'error',
                                    title: 'Failed',
                                    text: res.message || 'Unable to unfollow the store.',
                                    effect: 'fade',
                                    speed: 300,
                                    showIcon: true,
                                    autoclose: true,
                                    autotimeout: 3000,
                                    position: 'right top'
                                });
                            }
                        },
                        error: function () {
                            new Notify({
                                status: 'error',
                                title: 'Error',
                                text: 'An error occurred. Please try again later.',
                                effect: 'fade',
                                speed: 300,
                                showIcon: true,
                                autoclose: true,
                                autotimeout: 3000,
                                position: 'right top'
                            });
                        }
                    });
                }
            });
        });
    });
</script>



   




</body>

</html>