
@model Repository.ViewModels.RegisterViewModel 
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Nest - Multipurpose eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css?v=6.0" />
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/~/assets/prompt.js"></script>
    @Html.Raw(" <link href='https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons/css/all/all.css' rel='stylesheet'>")

    <link rel="stylesheet" href="~/assets/js/gridjs/theme/mermaid.min.css">
            <!-- Icons Css -->
    <link href="~/assetsAdmin/css/icons.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    @await Html.PartialAsync("_Header")
    
    <!--End header-->
    <main class="main pages">
        @* <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Pages <span></span> My Account
                </div>
            </div>
        </div> *@
        <div class="page-content pt-80 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-12 col-md-12 m-auto">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="login_wrap widget-taber-content background-white">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1 text-center">
                                            <h1 class="mb-5">Create an Account</h1>
                                            <p class="mb-30">Already have an account? <a asp-controller="Home" asp-action="Login">Login</a></p>
                                        </div>

                                        
                                        <form>
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" id="ReturnUrl" value="@ViewData["ReturnUrl"]" />
                                            <div class="form-group">
                                                <input type="text" id="username" name="username" placeholder="Username" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="email" name="email" placeholder="Email" />
                                            </div>
                                            <div class="form-group">
                                                <input id="password" type="password" name="password" placeholder="Password" />
                                            </div>
                                            <div class="form-group">
                                                <input id="repassword" type="password" name="password" placeholder="Confirm password" />
                                            </div>
                                       @*      <div class="login_footer form-group">
                                                <div class="chek-form">
                                                    <input type="text" required="" name="email" placeholder="Security code *" />
                                                </div>
                                                <span class="security-code">
                                                    <b class="text-new">8</b>
                                                    <b class="text-hot">6</b>
                                                    <b class="text-sale">7</b>
                                                    <b class="text-best">5</b>
                                                </span>
                                            </div> *@
                                      @*       <div class="payment_option mb-50">
                                                <div class="custome-radio">
                                                    <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios3" checked="" />
                                                    <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">I am a customer</label>
                                                </div>
                                                <div class="custome-radio">
                                                    <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios4" checked="" />
                                                    <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#checkPayment" aria-controls="checkPayment">I am a vendor</label>
                                                </div>
                                            </div> *@
                                            <div class="login_footer form-group mb-50">
                                                <div class="chek-form">
                                                    <div class="custome-checkbox">
                                                        <input class="form-check-input" type="checkbox" name="isCheckbox" id="isCheckbox" value="" />
                                                        <label class="form-check-label" for="isCheckbox"><span>I agree to terms &amp; Policy.</span></label>
                                                    </div>
                                                </div>
                                                <a asp-controller="Home" asp-action="LearnMore"><i class="fi-rs-book-alt mr-5 text-muted"></i>Lean more</a>
                                            </div>
                                            <div class="form-group mb-30">
                                                <button type="button" id="btnRegister" class="btn btn-fill-out btn-block hover-up font-weight-bold" name="login">Submit &amp; Register</button>
                                            </div>
                                            <p class="font-xs text-muted"><strong>Note:</strong>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy</p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    @await Html.PartialAsync("_Footer_User")
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <img src="~/assets/imgs/theme/loading.gif" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="~/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/plugins/slick.js"></script>
    <script src="~/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="~/assets/js/plugins/wow.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="~/assets/js/plugins/magnific-popup.js"></script>
    <script src="~/assets/js/plugins/select2.min.js"></script>
    <script src="~/assets/js/plugins/waypoints.js"></script>
    <script src="~/assets/js/plugins/counterup.js"></script>
    <script src="~/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="~/assets/js/plugins/images-loaded.js"></script>
    <script src="~/assets/js/plugins/isotope.js"></script>
    <script src="~/assets/js/plugins/scrollup.js"></script>
    <script src="~/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="~/assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="~/assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="~/assets/js/main.js?v=6.0"></script>
    <script src="~/assets/js/shop.js?v=6.0"></script>
</body>

</html>

<script type="text/javascript">
 
    $("#btnRegister").on("click", function () {
        var checkbox = document.getElementById("isCheckbox");
        var token = $("input[name='__RequestVerificationToken']").val();

        if (!checkbox.checked) {
            Swal.fire(
                'Failed',
                "Please agree to the terms and policies to continue",
                'error'
            );
            return 0;
        }


        $('#btnRegister').html('<i class="fa fa-spinner fa-spin"></i> Processing...').prop('disabled', true);

        $.ajax({
            url: "@Url.Action("Register", "Home")",
            method: "POST",
            dataType: "JSON",
            data: {
                username: $("#username").val(),
                email: $("#email").val(),
                password: $("#password").val(),
                ReturnUrl: $("#ReturnUrl").val(),
                repassword: $("#repassword").val(),
                __RequestVerificationToken: token
            },
            success: function (response) {
                if (response.status === 'success') {
                    Swal.fire({
                        icon: "success",
                        title: "Register Success",
                        text: "Please check your email to verify your account. If you didn't receive the email, you can request a new one.",
                       footer: '<a href="#" onclick="resendVerificationEmail()" style="text-decoration: underline;">Click here to resend the verification email</a>',
                    }).then((result) => {
                        window.location.href = "/Home/Login"
                    });
                } else {
                    Swal.fire(
                        'Failed',
                        response.msg,
                        'error'
                    );

                }
                $('#btnRegister').html('Register').prop('disabled', false);
            },
            error: function () {
                cuteToast({
                    type: "error",
                    message: 'Cannot process',
                    timer: 5000
                });

                $('#btnRegister').html('Register').prop('disabled', false);
            }
        });
    });

    function resendVerificationEmail() {
        var username = $("#username").val();
        var token = $("input[name='__RequestVerificationToken']").val();

        Swal.fire({
            title: 'Are you sure?',
            text: "Do you want to resend the verification email?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                // Show loading alert with timer and progress bar
                let timerInterval;
                Swal.fire({
                    title: "Sending Email...",
                    html: "Please wait, we are resending the email. <b></b> milliseconds remaining.",
                    timer: 4000, // Adjust the timer value as needed
                    timerProgressBar: true,
                    didOpen: () => {
                        Swal.showLoading();
                        const timer = Swal.getPopup().querySelector("b");
                        timerInterval = setInterval(() => {
                            timer.textContent = `${Swal.getTimerLeft()}`;
                        }, 100);
                    },
                    willClose: () => {
                        clearInterval(timerInterval);
                    }
                }).then((result) => {
                    // AJAX call to resend the verification email
                    $.ajax({
                        url: '/Home/ResendConfirmationEmail',  // Update with your actual endpoint
                        type: 'POST',
                        data: {
                            username: username,
                            __RequestVerificationToken: token
                        },
                        success: function (response) {
                            Swal.fire({
                                icon: "info",
                                title: "Verification Email Resent",
                                text: "A new verification email has been sent to your inbox. Please check your email.",
                            });

                        },
                        error: function () {
                            Swal.fire({
                                icon: "error",
                                title: "Error",
                                text: "There was an issue resending the email. Please try again later.",
                            });
                        }
                    });
                });
            }
        });
    }

</script>

