@using Microsoft.AspNetCore.Identity
@using Models
@using Repository.ViewModels
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<header class="header-area header-style-1 header-height-2">
    <div class="mobile-promotion">
        <span>Grand opening, <strong>up to 15%</strong> off all items. Only <strong>3 days</strong> left</span>
    </div>
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a asp-action="Index" asp-controller="Home"><img src="~/assets/imgs/theme/logo.svg" alt="logo" /></a>
                </div>
                <div class="header-right">
                    <div class="search-style-2">
                     
                    </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                            @* <div class="search-location"> *@
                            @*     <form action="#"> *@
                            @*         <select class="select-active"> *@
                            @*             <option>Your Location</option> *@
                            @*             <option>Alabama</option> *@
                            @*             <option>Alaska</option> *@
                            @*             <option>Arizona</option> *@
                            @*             <option>Delaware</option> *@
                            @*             <option>Florida</option> *@
                            @*             <option>Georgia</option> *@
                            @*             <option>Hawaii</option> *@
                            @*             <option>Indiana</option> *@
                            @*             <option>Maryland</option> *@
                            @*             <option>Nevada</option> *@
                            @*             <option>New Jersey</option> *@
                            @*             <option>New Mexico</option> *@
                            @*             <option>New York</option> *@
                            @*         </select> *@
                            @*     </form> *@
                            @* </div> *@
                            @* <div class="header-action-icon-2"> *@
                            @*     <a href=""> *@
                            @*         <img class="svgInject" alt="Nest" *@
                            @*              src="~/assets/imgs/theme/icons/icon-compare.svg" /> *@
                            @*         <span class="pro-count blue">3</span> *@
                            @*     </a> *@
                            @*     <a href=""><span class="lable ml-0">Compare</span></a> *@
                            @* </div> *@
                            <div class="header-action-icon-2">
                                <a href="">
                                    <img class="svgInject" alt="Nest"
                                         src="~/assets/imgs/theme/icons/icon-heart.svg" />
                                    @* <span class="pro-count blue">6</span> *@
                                </a>
                                <a asp-controller="Home" asp-action="Wishlist"><span class="lable">Wishlist</span></a>
                            </div>

                            <div id="cart-container">
                                @await Html.PartialAsync("_Cart", new List<CartViewModels>())
                           </div>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>

                            <script src="https://cdn.jsdelivr.net/npm/notify-js@3/notify.min.js"></script>

                            <script>
                                $(document).ready(function () {
                                    loadCart();

                                    function loadCart() {
                                        $.get("/Home/CartPart", function (data) {
                                            $("#cart-container").html(data);
                                        }).fail(function (xhr) {
                                            console.error("Error:", xhr.responseText);
                                            $("#cart-container").html("<p style='color:red;'>Failed to load cart.</p>");
                                        });
                                    }

                                    window.AddToCart = function (productId) {
                                        $.ajax({
                                            type: "POST",
                                            url: "/Home/AddToCart",
                                            contentType: "application/json",
                                            data: JSON.stringify({ ProductID: productId, quantity: 1 }),
                                            success: function (response) {
                                                if (response.success) {
                                                    new Notify({
                                                        status: 'success',
                                                        title: 'Success!',
                                                        text: response.message,
                                                        effect: 'fade',
                                                        speed: 300,
                                                        showIcon: true,
                                                        showCloseButton: true,
                                                        autoclose: true,
                                                        autotimeout: 3000,
                                                        position: 'right top',
                                                    });
                                                    loadCart(); // Refresh cart
                                                } else {
                                                    new Notify({
                                                        status: 'error',
                                                        title: 'Error!',
                                                        text: response.message,
                                                        effect: 'fade',
                                                        speed: 300,
                                                        showIcon: true,
                                                        showCloseButton: true,
                                                        autoclose: true,
                                                        autotimeout: 3000,
                                                        position: 'right top',
                                                    });
                                                }
                                            },
                                            error: function (xhr) {
                                                console.error(xhr.responseText);
                                                new Notify({
                                                    status: 'error',
                                                    title: 'System Error!',
                                                    text: "Unable to add to cart.",
                                                    effect: 'fade',
                                                    speed: 300,
                                                    showIcon: true,
                                                    showCloseButton: true,
                                                    autoclose: true,
                                                    autotimeout: 3000,
                                                    position: 'right top',
                                                });
                                            }
                                        });
                                    };

                                    // Function to delete product
                                    window.DeleteFromCart = function (productId) {
                                        Swal.fire({
                                            title: "Are you sure?",
                                            text: "The product will be removed from your cart!",
                                            icon: "warning",
                                            showCancelButton: true,
                                            confirmButtonColor: "#d33",
                                            cancelButtonColor: "#3085d6",
                                            confirmButtonText: "Delete!",
                                            cancelButtonText: "Cancel"
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                $.ajax({
                                                    type: "POST",
                                                    url: "/Home/DeleteCart",
                                                    contentType: "application/json",
                                                    data: JSON.stringify({ ProductID: productId }),
                                                    success: function (response) {
                                                        if (response.success) {
                                                            new Notify({
                                                                status: 'success',
                                                                title: 'Deleted!',
                                                                text: response.message,
                                                                effect: 'fade',
                                                                speed: 300,
                                                                showIcon: true,
                                                                showCloseButton: true,
                                                                autoclose: true,
                                                                autotimeout: 3000,
                                                                position: 'right top',
                                                            });
                                                            loadCart(); // Refresh cart without reloading page
                                                        } else {
                                                            new Notify({
                                                                status: 'error',
                                                                title: 'Error!',
                                                                text: response.message,
                                                                effect: 'fade',
                                                                speed: 300,
                                                                showIcon: true,
                                                                showCloseButton: true,
                                                                autoclose: true,
                                                                autotimeout: 3000,
                                                                position: 'right top',
                                                            });
                                                        }
                                                    },
                                                    error: function (xhr) {
                                                        console.error(xhr.responseText);
                                                        new Notify({
                                                            status: 'error',
                                                            title: 'System Error!',
                                                            text: "Unable to remove the product from the cart.",
                                                            effect: 'fade',
                                                            speed: 300,
                                                            showIcon: true,
                                                            showCloseButton: true,
                                                            autoclose: true,
                                                            autotimeout: 3000,
                                                            position: 'right top',
                                                        });
                                                    }
                                                });
                                            }
                                        });
                                    };
                                });
                            </script>

                          


                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div class="header-action-icon-2">
                                    <a href="">
                                        <img class="svgInject" alt="Nest" src="~/assets/imgs/theme/icons/icon-user.svg" />
                                    </a>
                                    <a asp-controller="Users" asp-action="Index"><span class="lable ml-0">Account</span></a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                        <ul>
                                            <li>
                                                <a asp-controller="Users" asp-action="Index">
                                                    <i class="fi fi-rs-user mr-10"></i>My
                                                    Account
                                                </a>
                                            </li>
                                            @* <li> *@
                                            @*     <a href=""> *@
                                            @*         <i class="fi fi-rs-location-alt mr-10"></i>Order Tracking *@
                                            @*     </a> *@
                                            @* </li> *@
                                            @* <li> *@
                                            @*     <a href=""> *@
                                            @*         <i class="fi fi-rs-label mr-10"></i>My *@
                                            @*         Voucher *@
                                            @*     </a> *@
                                            @* </li> *@
                                            <li>
                                                <a asp-controller="Home" asp-action="Wishlist">
                                                    <i class="fi fi-rs-heart mr-10"></i>My
                                                    Wishlist
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-controller="Home" asp-action="Cart">
                                                    <i class="fi-rs-shopping-cart mr-10"></i>My
                                                    Cart
                                                </a>
                                            </li>
                                            @* <li> *@
                                            @*     <a href=""> *@
                                            @*         <i class="fi fi-rs-settings-sliders mr-10"></i>Setting *@
                                            @*     </a> *@
                                            @* </li> *@
                                            <li>
                                                <a href="/Home/Logout">
                                                    <i class="fi fi-rs-sign-out mr-10"></i>Sign
                                                    out
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            }else{
                                <div class="header-action-icon-2">
                                    <a href="">
                                        <img class="svgInject" alt="Nest" src="~/assets/imgs/theme/icons/icon-user.svg" />
                                    </a>
                                    <a href=""><span class="lable ml-0">Account</span></a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                        <ul>
                                            <li>
                                                <a asp-action="Login" asp-controller="Home">
                                                    <i class="fi fi-rs-user mr-10"></i>Login
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-action="register" asp-controller="Home">
                                                    <i class="fi fi-rs-location-alt mr-10"></i>Register
                                                </a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>

                            }


                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
                <div class="logo logo-width-1 d-block d-lg-none">
                    <a asp-controller="Home"><img src="~/assets/imgs/theme/logo.svg" alt="logo" /></a>
                </div>
                <div class="header-nav d-none d-lg-flex">
                    <div class="main-categori-wrap d-none d-lg-block">
                        @* <a class="categories-button-active" href="#"> *@
                        @*     <span class="fi-rs-apps"></span> <span class="et">Browse</span> All Categories *@
                        @*     <i class="fi-rs-angle-down"></i> *@
                        @* </a> *@
                        <div class="categories-dropdown-wrap categories-dropdown-active-large font-heading">
                            <div class="d-flex categori-dropdown-inner">
                                <ul>
                                    <li>
                                        <a href="">
                                            <img src="~/assets/imgs/theme/icons/category-1.svg" alt="" />Milks and
                                            Dairies
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="~/assets/imgs/theme/icons/category-2.svg" alt="" />Clothing &
                                            beauty
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="~/assets/imgs/theme/icons/category-3.svg" alt="" />Pet Foods &
                                            Toy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="~/assets/imgs/theme/icons/category-4.svg" alt="" />Baking
                                            material
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="~/assets/imgs/theme/icons/category-5.svg" alt="" />Fresh
                                            Fruit
                                        </a>
                                    </li>
                                </ul>
                                <ul class="end">
                                    <li>
                                        <a href="">
                                            <img src="~/assets/imgs/theme/icons/category-6.svg" alt="" />Wines &
                                            Drinks
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="~/assets/imgs/theme/icons/category-7.svg" alt="" />Fresh
                                            Seafood
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="~/assets/imgs/theme/icons/category-8.svg" alt="" />Fast food
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="~/assets/imgs/theme/icons/category-9.svg" alt="" />Vegetables
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="~/assets/imgs/theme/icons/category-10.svg" alt="" />Bread and
                                            Juice
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="more_slide_open" style="display: none">
                                <div class="d-flex categori-dropdown-inner">
                                    <ul>
                                        <li>
                                            <a href="">
                                                <img src="~/assets/imgs/theme/icons/icon-1.svg" alt="" />Milks and
                                                Dairies
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="~/assets/imgs/theme/icons/icon-2.svg" alt="" />Clothing &
                                                beauty
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="end">
                                        <li>
                                            <a href="">
                                                <img src="~/assets/imgs/theme/icons/icon-3.svg" alt="" />Wines &
                                                Drinks
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="~/assets/imgs/theme/icons/icon-4.svg" alt="" />Fresh
                                                Seafood
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="more_categories">
                                <span class="icon"></span> <span class="heading-sm-1">
                                    Show
                                    more...
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                        <nav>
                            <ul>
                                <li class="hot-deals">
                                   <a></a>
                                </li>
                                <li>
                                    <a class="" asp-controller="Home">Home </a>
                                   
                                </li>
                                <li>
                                    <a href="#"></a>

                                </li>
                                <li>
                                    <a ></a>
                                </li>
                                <li>
                                    <a href="#"></a>

                                </li>
                                <li>
                                    <a > </a>
                                    <ul class="sub-menu">
                                       
                                        <li>
                                            <a asp-controller="Home" asp-action="ListProducts"> Products </a>
                                           
                                        </li>
                                      
                                        <li>
                                            <a href="#">Shop Invoice</a>
                                          
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"></a>
                                    
                                </li>
                                <li class="position-static">
                                    <a asp-controller="Home" asp-action="GetAllCategory">Categories</a>
                                   
                                </li>
                                <li>
                                    <a href="#"></a>

                                </li>
                                <li>
                                    <a href=""> </a>
                                  
                                </li>
                                <li>
                                    <a href="#"></a>

                                </li>
                                <li>
                                    <a href="#"> </a>
                                 
                                </li>
                                <li>
                                    <a href="#"></a>

                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="GetAllStore">Store</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="hotline d-none d-lg-flex">
                    <img src="~/assets/imgs/theme/icons/icon-headphone.svg" alt="hotline" />
                    <p>1900 - 888<span>24/7 Support Center</span></p>
                </div>
                <div class="header-action-icon-2 d-block d-lg-none">
                    <div class="burger-icon burger-icon-white">
                        <span class="burger-icon-top"></span>
                        <span class="burger-icon-mid"></span>
                        <span class="burger-icon-bottom"></span>
                    </div>
                </div>
                <div class="header-action-right d-block d-lg-none">
                    <div class="header-action-2">
                        <div class="header-action-icon-2">
                            <a href="">
                                <img alt="Nest" src="~/assets/imgs/theme/icons/icon-heart.svg" />
                                @* <span class="pro-count white">4</span> *@
                            </a>
                        </div>
                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon" asp-controller="Home" asp-action="Cart">
                                <img alt="Nest" src="~/assets/imgs/theme/icons/icon-cart.svg" />
                                @* <span class="pro-count white">2</span> *@
                            </a>
                            <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                <ul>
                                    <li>
                                        <div class="shopping-cart-img">
                                            <a href="">
                                                <img alt="Nest"
                                                     src="~/assets/imgs/shop/thumbnail-3.jpg" />
                                            </a>
                                        </div>
                                        <div class="shopping-cart-title">
                                            <h4><a href="">Plain Striola Shirts</a></h4>
                                            <h3><span>1 × </span>$800.00</h3>
                                        </div>
                                        <div class="shopping-cart-delete">
                                            <a href="#"><i class="fi-rs-cross-small"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="shopping-cart-img">
                                            <a href="">
                                                <img alt="Nest"
                                                     src="~/assets/imgs/shop/thumbnail-4.jpg" />
                                            </a>
                                        </div>
                                        <div class="shopping-cart-title">
                                            <h4><a href="">Macbook Pro 2024</a></h4>
                                            <h3><span>1 × </span>$3500.00</h3>
                                        </div>
                                        <div class="shopping-cart-delete">
                                            <a href="#"><i class="fi-rs-cross-small"></i></a>
                                        </div>
                                    </li>
                                </ul>
                                <div class="shopping-cart-footer">
                                    <div class="shopping-cart-total">
                                        <h4>Total <span>$383.00</span></h4>
                                    </div>
                                    <div class="shopping-cart-button">
                                        <a asp-controller="Home" asp-action="Cart">View cart</a>
                                        <a href="">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>