<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Raw("<link href='https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons/css/all/all.css' rel='stylesheet'>");
    <link href="~/assets/simple-notify/simple-notify.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
            @RenderBody()
    <script src="~/assets/cute-alert/cute-alert.js"></script>
    <script src="~/assets/sweetalert2/sweetalert2.js"></script>
    <link rel="stylesheet" href="~/assets/cute-alert/style.css" />
    <link href="~/assets/sweetalert2/default.css" rel="stylesheet" />
    <script src="~/assets/simple-notify/simple-notify.min.js"></script>
  @*   <script>
        $(document).ready(function () {
            function getBalance() {
                $.ajax({
                    url: '/Home/GetBalance',
                    type: 'POST',
                    dataType: 'json',
                    success: function (response) {
                        if (response.msg) {
                            $("#balance-display").text(response.msg);
                        }else{
                            console.error(response.msg);
                        }
                    },
                    error: function () {
                        console.error("Lỗi khi lấy số dư.");
                    }
                });
            }
            getBalance();
            setInterval(getBalance, 1000);
        });

    </script> *@

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const userId = urlParams.get('userId');
        const token = urlParams.get('token');

        if (userId && token) {
            $.ajax({
                url: '/Home/ConfirmEmail',
                type: 'GET',
                data: {
                    userId: userId,
                    token: token
                },
                success: function (data) {
                    Swal.fire({
                        icon: data.success ? 'success' : 'error',
                        title: data.success ? 'Thành công' : 'Thất bại',
                        text: data.message
                    }).then(() => {
                        // Xóa tham số userId và token khỏi URL mà không reload trang
                        const cleanUrl = window.location.origin + window.location.pathname;
                        window.history.replaceState({}, document.title, cleanUrl);
                    });
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi',
                        text: 'Đã xảy ra lỗi trong quá trình xác nhận.'
                    }).then(() => {
                        const cleanUrl = window.location.origin + window.location.pathname;
                        window.history.replaceState({}, document.title, cleanUrl);
                    });
                }
            });
        }

        function AddWishlist(el, id) {
            var icon = el.querySelector("i");
            const actionBtn = el;

            if (icon.classList.contains("text-danger")) {
                Swal.fire({
                    title: "Bạn có chắc chắn?",
                    text: "Bạn muốn xóa khỏi danh sách yêu thích?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Có, xóa!",
                    cancelButtonText: "Hủy"
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/Home/RemoveWish",
                            type: "POST",
                            data: { id: id },
                            headers: {
                                "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                            },
                            success: function (response) {
                                if (response.success) {
                                    new Notify({
                                        status: 'success',
                                        title: 'Thành công!',
                                        text: response.message || 'Gửi thành công!',
                                        effect: 'fade',
                                        speed: 300,
                                        showIcon: true,
                                        showCloseButton: true,
                                        autoclose: true,
                                        autotimeout: 3000,
                                        position: 'right top'
                                    });
                                    icon.classList.remove("text-danger");
                                    actionBtn.setAttribute("aria-label", "Add To Wishlist");
                                } else {
                                    Swal.fire('Thất bại', response.message, 'error');
                                }
                            },
                            error: function () {
                                alert("Lỗi xảy ra khi xóa khỏi wishlist.");
                            }
                        });
                    }
                });
            } else {
                $.ajax({
                    url: "/Home/AddWish",
                    type: "POST",
                    data: { id: id },
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (response) {
                        if (response.success) {
                            new Notify({
                                status: 'success',
                                title: 'Thành công!',
                                text: response.message || 'Gửi thành công!',
                                effect: 'fade',
                                speed: 300,
                                showIcon: true,
                                showCloseButton: true,
                                autoclose: true,
                                autotimeout: 3000,
                                position: 'right top'
                            });

                            icon.classList.add("text-danger");
                            actionBtn.setAttribute("aria-label", "Remove wishlist");
                        } else {
                            Swal.fire('Thất bại', response.message, 'error');
                        }
                    },
                    error: function () {
                        alert("Lỗi xảy ra khi thêm vào wishlist.");
                    }
                });
            }
        }
    </script>
</body>
</html>
