<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Raw("<link href='https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons/css/all/all.css' rel='stylesheet'>");
    <link href="~/assets/simple-notify/simple-notify.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
            @RenderBody()
    <script src="~/assets/cute-alert/cute-alert.js"></script>
    <script src="~/assets/sweetalert2/sweetalert2.js"></script>
    <link rel="stylesheet" href="~/assets/cute-alert/style.css" />
    <link href="~/assets/sweetalert2/default.css" rel="stylesheet" />
    <script src="~/assets/simple-notify/simple-notify.min.js"></script>
  @*   <script>
        $(document).ready(function () {
            function getBalance() {
                $.ajax({
                    url: '/Home/GetBalance',
                    type: 'POST',
                    dataType: 'json',
                    success: function (response) {
                        if (response.msg) {
                            $("#balance-display").text(response.msg);
                        }else{
                            console.error(response.msg);
                        }
                    },
                    error: function () {
                        console.error("Lỗi khi lấy số dư.");
                    }
                });
            }
            getBalance();
            setInterval(getBalance, 1000);
        });

    </script> *@
</body>
</html>
